.reveal h1, .reveal h2, .reveal h3 {
    font-family: Verdana, Helvetica, sans-serif;
}

.reveal .slide-pictures-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.reveal .slide-picture {
    margin-left: 5px;
    margin-right: 5px;
}

.reveal .slide-pictures-container.few img{
    max-height: 500px;
}

.reveal .slide-pictures-container.many img{
    max-height: 300px;
}

.reveal .slide-pictures-container.manymany img{
    max-height: 150px;
    border: none;
    background: inherit;
    box-shadow: none;
}

.reveal .slide-icon {
    margin: auto;
    font-size: 160px;
    color: #efdcbc;
}

.reveal .image-caption{
    font-size: small;
    text-align: right;
}